
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Sıfırlama Kodu Gönderildi</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Şifre Sıfırlama Kodu Gönderildi</h1>
    <p class="lead">Lütfen emailine gelen bağlantıyı takip ederek şifreni sıfırla.</p>
  </div>
</div>
</body>
</html>
