@model GradeInformation.WebUI.Model.SecurityForgotPasswordViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifremi Unuttum</title>
</head>
<body>
     <div class="card d-flex mx-auto mt-5" style="max-width: 500px;min-width:400px;">
        <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Şifremi Unuttum</h4>
            <form asp-controller="Security" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" >
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Giriş Yap  </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
</body>
</html>
