@model GradeInformation.WebUI.Model.Security.ResetPasswordViewModel
@{
    Layout = "_Layout";
}

<div class="card d-flex mx-auto mt-5" style="max-width: 500px;min-width:400px;">
    <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Şifreyi Sıfırla</h4>
        <form asp-controller="Security" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Code" /><br />
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
            </div> <!-- form-group// -->
            <div class="form-group">
                <label>Şifre</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Şifre">
            </div> <!-- form-group// -->
            <div class="form-group">
                <label>Şifreyi Doğrula</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Şifreyi Doğrula">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Sıfırla </button>
            </div> <!-- form-group// -->
        </form>
    </article>
</div>
