
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifreniz Sıfırlandı</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Şifreniz Başarıyla Sıfırlandı</h1>
    <p class="lead">Tekrar giriş sayfanızdan yeni şifreniz ile girişinizi yapabilirsiniz</p>
  </div>
</div>
</body>
</html>
